body {
  background-color: #1e0354;
}

.navbar {
  background-color: #1e0354;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  letter-spacing: 0.15em;
  margin-right: 15px;
}

.nav-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #9c3857;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #1e0354;
}

.input-group-text {
  background-color: #2e0580;
  color: white;
}

.card {
  background-color: #1e0354;
  margin: 1em;
  color: white;
  padding: 2em;
  border-radius: 30px;
  border: none;
  outline: none;
}

.booking {
  border: 1px solid white;
  outline: none;
  background: transparent;
  background-color: #2e0580;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

.booking::placeholder {
  color: white;
}

.form-select {
  background-color: #1e0354;
  color: white;
}

option {
  background-color: white;
  color: #1e0354;
}

.button4 {
  background-color: white;
  color: #1e0354;
  width: 85%;
  transition: 0.3s ease-in-out;
}

.button4:hover {
  background-color: #9c3857;
  color: white;
}

#contact-us {
  background-color: #9c3857;
}

.contact-header,
.paragraph {
  color: white;
}

.contact-header {
  font-weight: bolder;
}

.paragraph {
  font-size: 12px;
}

.footer {
  background-color: #9c3857;
  color: white;
}

#footer:checked {
  background-color: #9c3857;
  color: white;
}

.footer::placeholder {
  color: white;
}

.button3 {
  background-color: white;
  color: #9c3857;
  transition: 0.3s ease-in-out;
}

.button3:hover {
  background-color: #1e0354;
  color: #fff;
}
