.navbar {
  background-color: #1e0354;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  letter-spacing: 0.15em;
  margin-right: 15px;
}

.nav-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #9c3857;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}
