<!-- Footer -->
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-4">
                <div class="d-flex justify-content-start flex-column align-items-start">
                    <h3 class="contact-header mb-4">Contact</h3>
                    <p class="paragraph mb-1">Ideal Zillion Global</p>
                    <p class="paragraph">32 St. John's RoadHUDDERSFIELD HD70 0LR</p>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="d-flex justify-content-start flex-column align-items-start">
                    <p class="paragraph mt-3">Tel. 01632 960886</p>
                    <p class="paragraph">Email help@zillion.com</p>
                    <p class="paragraph">Book a Consulation</p>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="d-flex justify-content-start flex-column align-items-start">
                    <label for="form-control">
                        <p class="paragraph mt-3">Subscribe to our Newsletter</p>
                    </label>
                    <form class="d-flex">
                        <input class="form-control me-2" id="form-control" type="search"
                            placeholder="Enter your email here" aria-label="Search">
                        <button class="btn button3" type="submit">Join</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Footer -->