<!-- Form -->
<div class="wrapper">
    <h4 class="text-light text-center mb-4">Booking Details</h4>

    <div action="" class="card">
        <div class="row g-3">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                    <input type="text" class="booking" placeholder="Full Name" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                    <input type="text" class="booking" placeholder="Name On Card" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="booking" placeholder="Email" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-geo-alt-fill"></i></span>
                    <input type="text" class="booking" placeholder="Address" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-bank"></i></span>
                    <input type="text" class="booking" placeholder="City" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar"></i></span>
                    <input type="date" class="booking" placeholder="Date Birth" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01"><i
                            class="bi bi-gender-ambiguous"></i></label>
                    <select class="booking" id="inputGroupSelect01">
                        <option selected>Gender</option>
                        <option value="1">Men</option>
                        <option value="2">Women</option>
                        <option value="3">Choose not to inform</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <h5 class="text-light">Card Details</h5>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-credit-card"></i></span>
                    <input type="text" class=" booking" placeholder="MM/YY" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-credit-card"></i></span>
                    <input type="text" class=" booking" placeholder="CVV" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01"><i class="bi bi-book"></i></label>
                    <select class="booking" id="inputGroupSelect01">
                        <option selected>Courses</option>
                        <option value="1">Singing Courses</option>
                        <option value="2">Musich Theory</option>
                        <option value="3">Compose My Own Song</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01"><i class="bi bi-clock"></i></label>
                    <select class="booking" id="inputGroupSelect01">
                        <option selected>Duration</option>
                        <option value="1">1 Year</option>
                        <option value="2">6 Months</option>
                        <option value="3">3 Months</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 mb-5 d-flex justify-content-center">
                <button class="btn button4" type="submit">Book My Course!</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Form -->