<!-- Details -->
<div class="wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="card VC">
                <img src="https://media.istockphoto.com/photos/love-song-picture-id184978684?b=1&k=20&m=184978684&s=170667a&w=0&h=ujOkR1rSI2-1tYXnEEylE8vzbC4I-CE5txHl4-gZ4ag="
                    class="card-img-top vc-img" alt="...">
                <div class="card-body p-0 mt-2">
                    <h5 class="card-title text-light pb-3">$180</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <p class="name">Ideal Zillion Global</p>
            <p class="title">Music Theory</p>
            <p class="text">A online learning about music theory course for non-musicians. In this class, you learn all
                aspects of how to apply knowledge from a musician's musicality and composition practice into an audio
                teaching device which is applicable only by musicians with advanced training.</p>
            <p class="text">The curriculum was designed at the beginning: it has been thoroughly tested in every stage
                of its evolution up until now using our existing production methods as well (including computer
                simulation) to bring out new ideas based on your own listening habits.</p>
            <p class="text">With each installment of lessons here we will discuss topics covering important issues such
                when mixing techniques are used correctly or incorrectly depending upon context; where can one add
                elements that could be helpful during producing some kind of music</p>
            <a class="btn button1 btn-md" href="/booking" role="button">Book now</a>
        </div>
    </div>
</div>
<!-- End of Details -->

<!-- Services -->
<section id="services">
    <div class="container pt-4">
        <div class="row pt-4">
            <h4 class="lead mb-4 text-center">Another Services</h4>

            <div class="col-md-6 d-flex justify-content-center">
                <div class="card music-theory-wrapper">
                    <a href="/vocal-class" class="d-flex justify-content-center">
                        <img src="https://media.istockphoto.com/photos/black-female-singer-singing-into-microphone-in-recording-studio-picture-id1284317705?b=1&k=20&m=1284317705&s=170667a&w=0&h=F7UoOb_dF4Jmsx2eYkWuehZn_EHvF6iYZtS260Cxn_o="
                            class="card-img-top" alt="...">

                        <div class="services-overlay d-flex justify-content-center align-items-center flex-column">
                            <div class="service-title">Vocal Class</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center">
                <div class="card music-theory-wrapper">
                    <a href="/record" class="text-center">
                        <img src="https://media.istockphoto.com/photos/interior-view-of-recording-studio-picture-id1307465168?b=1&k=20&m=1307465168&s=170667a&w=0&h=i10n_VVCmkTmnEnMOn--qxbZaR8aiR86cBvp8en_hYA="
                            class="card-img-top" alt="...">

                        <div class="services-overlay d-flex justify-content-center align-items-center flex-column">
                            <div class="service-title">Record your own song</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Services -->