<!-- Details -->
<div class="wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="card VC">
                <img src="https://media.istockphoto.com/photos/interior-view-of-recording-studio-picture-id1307465168?b=1&k=20&m=1307465168&s=170667a&w=0&h=i10n_VVCmkTmnEnMOn--qxbZaR8aiR86cBvp8en_hYA="
                    class="card-img-top vc-img" alt="...">
                <div class="card-body p-0 mt-2">
                    <h5 class="card-title text-light pb-3">$500</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <p class="name">Ideal Zillion Global</p>
            <p class="title">Record Your Own Song</p>
            <p class="text">A service provided for everyone that want to record their own song. We use a technology to
                compose and produce your song.</p>
            <p class="text">With the guidance from the expert at this field. Together we can produce a great song and
                develop your level on producing a song.</p>
            <p class="text">It can help anyone who already learn about vocal and music theory to put their knowledge
                into action.</p>
            <a class="btn button1 btn-md" href="/booking" role="button">Book now</a>
        </div>
    </div>
</div>
<!-- End of Details -->

<!-- Services -->
<section id="services">
    <div class="container pt-4">
        <div class="row pt-4">
            <h4 class="lead mb-4 text-center">Another Services</h4>

            <div class="col-md-6 d-flex justify-content-center">
                <div class="card music-theory-wrapper">
                    <a href="/music-theory" class="d-flex justify-content-center">
                        <img src="https://media.istockphoto.com/photos/love-song-picture-id184978684?b=1&k=20&m=184978684&s=170667a&w=0&h=ujOkR1rSI2-1tYXnEEylE8vzbC4I-CE5txHl4-gZ4ag="
                            class="card-img-top" alt="...">

                        <div class="services-overlay d-flex justify-content-center align-items-center flex-column">
                            <div class="service-title">Music Theory</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center">
                <div class="card music-theory-wrapper">
                    <a href="/vocal-class" class="text-center">
                        <img src="https://media.istockphoto.com/photos/black-female-singer-singing-into-microphone-in-recording-studio-picture-id1284317705?b=1&k=20&m=1284317705&s=170667a&w=0&h=F7UoOb_dF4Jmsx2eYkWuehZn_EHvF6iYZtS260Cxn_o="
                            class="card-img-top" alt="...">

                        <div class="services-overlay d-flex justify-content-center align-items-center flex-column">
                            <div class="service-title">Vocal Class</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Services -->