<!-- Details -->
<div class="wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="card VC">
                <img src="https://media.istockphoto.com/photos/black-female-singer-singing-into-microphone-in-recording-studio-picture-id1284317705?b=1&k=20&m=1284317705&s=170667a&w=0&h=F7UoOb_dF4Jmsx2eYkWuehZn_EHvF6iYZtS260Cxn_o="
                    class="card-img-top vc-img" alt="...">
                <div class="card-body p-0 mt-2">
                    <h5 class="card-title text-light pb-3">$200</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <p class="name">Ideal Zillion Global</p>
            <p class="title">Vocal Class</p>
            <p class="text">In this day and age, it's getting harder and harder to find a vocal coach with excellent
                teaching abilities. You want someone who knows how to create an engaging learning experience that meets
                your individual needs. You want them to break all the myths and outdated myths about singing, and you
                want them to do it in a professional, courteous manner.</p>
            <p class="text">It is for singers of all ages and it will teach you how to use your voice more effectively,
                how to sing skillfully, how to sing more in tune, how to achieve the voice you have always wanted, and
                how to build stamina and stamina.</p>
            <p class="text">Vocal classes are available for all levels. Whether it is to improve your voice for your
                profession or for voice of your day to day, we find the best program for your needs.</p>
            <a class="btn button1 btn-md" href="/booking" role="button">Book now</a>
        </div>
    </div>
</div>
<!-- End of Details -->

<!-- Services -->
<section id="services">
    <div class="container pt-4">
        <div class="row pt-4">
            <h4 class="lead mb-4 text-center">Another Services</h4>

            <div class="col-md-6 d-flex justify-content-center">
                <div class="card music-theory-wrapper">
                    <a href="/music-theory" class="d-flex justify-content-center">
                        <img src="https://media.istockphoto.com/photos/love-song-picture-id184978684?b=1&k=20&m=184978684&s=170667a&w=0&h=ujOkR1rSI2-1tYXnEEylE8vzbC4I-CE5txHl4-gZ4ag="
                            class="card-img-top" alt="...">

                        <div class="services-overlay d-flex justify-content-center align-items-center flex-column">
                            <div class="service-title">Music Theory</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center">
                <div class="card music-theory-wrapper">
                    <a href="/record" class="text-center">
                        <img src="https://media.istockphoto.com/photos/interior-view-of-recording-studio-picture-id1307465168?b=1&k=20&m=1307465168&s=170667a&w=0&h=i10n_VVCmkTmnEnMOn--qxbZaR8aiR86cBvp8en_hYA="
                            class="card-img-top" alt="...">

                        <div class="services-overlay d-flex justify-content-center align-items-center flex-column">
                            <div class="service-title">Record your own song</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Services -->