.navbar {
  background-color: #1e0354;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  letter-spacing: 0.15em;
  margin-right: 15px;
}

.nav-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #9c3857;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.jumbotron {
  min-height: 600px;
  max-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1541592553160-82008b127ccb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2luZ2VyfGVufDB8MHwwfGJsYWNrX2FuZF93aGl0ZXw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.display-4,
.lead,
.btn {
  color: white;
}

.button1 {
  background-color: #9c3857;
  transition: 0.3s ease-in-out;
}

.button1:hover {
  background-color: #1e0354;
  color: white;
}

#about-us {
  background-color: #1e0354;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;
}

.container-about-us {
  width: 90%;
}

.left {
  background-image: url("https://images.unsplash.com/photo-1459247512518-2d9ea60e7489?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bm90ZSUyMHNoZWV0fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-left: -150px;
  width: 50%;
  height: 500px;
  border-radius: 8px;
}

.right {
  background-color: #9c3857;
  color: white;
  border-radius: 8px;
  width: 50%;
  min-height: 250px;
  padding: 30px;
}

.right h1 {
  font-size: 40px;
  font-weight: lighter;
}

.right p {
  margin: 20px 0;
}

#services {
  background-color: #1e0354;
  min-height: 600px;
}

.card {
  background-color: #1e0354;
  border: 0px;
}

.card-title {
  border-bottom: 3px solid white;
}

.button2 {
  background-color: #fff;
  color: #1e0354;
  transition: 0.3s ease-in-out;
}

.button2:hover {
  background-color: #9c3857;
  color: white;
}

#contact-us {
  background-color: #9c3857;
}

.contact-header,
.paragraph {
  color: white;
}

.contact-header {
  font-weight: bolder;
}

.paragraph {
  font-size: 12px;
}

.form-control {
  background-color: #9c3857;
  color: white;
}

#form-control:checked {
  background-color: #9c3857;
  color: white;
}

.form-control::placeholder {
  color: white;
}

.button3 {
  background-color: white;
  color: #9c3857;
  transition: 0.3s ease-in-out;
}

.button3:hover {
  background-color: #1e0354;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .container-about-us {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 90%;
  }
}
